# Hugo build output
/public/
/resources/

# OS and editor files
.DS_Store
Thumbs.db

# Hugo build lock
.hugo_build.lock

# Node/npm/yarn (if used)
/node_modules/

# VSCode project settings
.vscode/

# Ignore local config
config/_default/params.toml
