{{ partial "google-analytics.html" . }}

<!-- Favicon and Apple Touch Icons -->
<link rel="shortcut icon" href="{{ "/assets/favicon/favicon.ico" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relURL }}">

<!-- Apple specific meta tags -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}"> 